{# template/accueil.html.twig#}
{% extends "base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <div class="card col-md-12">
        <div class="card-header">
            <h1><i class="fas fa-home"></i> {% trans %}accueil.demo{% endtrans %}</h1>
        </div>
        <div class="card-body">
            <div class="card clickable" onclick="location = '{{ path('boutique') }}'" >
                <img src="{{ asset('images/epicerie.jpg') }}" class="card-img-top" alt="Logo Boutique Symfony"/>
                <div class="card-body">
                    <p class="card-text"><i>{% trans %}accueil.slogan{% endtrans %}</i></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


