{# templates/base.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- block link -->
    {% include "link.html.twig" %}

    {% block link %}
    {% endblock %}

    <title>
        {% block title %}
        {% endblock %}
    </title>


</head>
    <body>
        <!-- debut de la navbar -->
            {% include "navbar.html.twig" %}
        <!-- fin de la navbar -->
        <main role="main" class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <div class="main-div"> 
                        <!-- debut du block body -->
                        {% block body %}
                        {% endblock %}
                        <!-- fin du block body -->
                    </div>
                </div>
                <div class="col-md-2" style="padding: 10px;">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4><i class="fas fa-star"></i> {% trans %}base.topvente{% endtrans %} <i class="fas fa-star"></i></h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                       
                                {{ render(controller('App\\Controller\\DefaultController::sideBar')) }}

                            </ul>
                        </div>
                    </div>
                </div> 
            </div>
        </main>

        <script src="{{ asset('js/jquery-3/jquery.slim.min.js') }}"> </script>
        <script src="{{ asset('js/bootstrap-4/bootstrap.bundle.min.js') }}"> </script>
        {% block script %}
        
        {% endblock %}

    </body>



</html>










